@model CreateVM

<h1> Add Book new to Library</h1>
<div class="col-5">

    <form asp-controller="Book" asp-action="Create" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image"></label>
            <input asp-for="Image" type= "file"class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Genre"> </label>
            <select asp-for="GenreValues"
                    asp-items="Model.Genre" class="form-select mb-3"></select>
            <span asp-validation-for="GenreValues" class="text-danger"></span>
        </div>
        <div class="col-">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </form>
    <br />
</div>

<div asp-validation-summary="All"></div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
